@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@font-face {
    font-family: 'KakaoSmallSans-Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'KakaoSmallSans-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'KakaoSmallSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}



html, body {width:100%; height:100%;line-height: 1;font-size: 16px;color: #1e1e1e;font-family: 'NanumSquareRound';;-webkit-text-size-adjust: none; -ms-text-size-adjust: none;}
input, button, select, textarea, pre, code {font-family: 'NanumSquareRound';;}
textarea {resize: none;outline: none;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,canvas,details,embed,figure,figcaption,footer,header, hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input {margin:0; padding:0; border:0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, div, span, p, ul, li, dl, dt, dd, ol, iframe, a, input[type="text"], input[type="password"], input[type="tel"], input[type="number"], input[type="email"], input[type="submit"], input[type="file"], button, label, textarea, h1, h2, h3, h4, h5, h6 {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
a, a:visited {margin:0; padding:0; font-size:100%;text-decoration:none;color:black;}
a:hover {text-decoration:none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
fieldset, img, abbr, acronym {border:0 none;}
ol, ul { list-style:none; }
caption {visibility:hidden; font-size:0px; width: 0px; height: 0px; line-height:0;border:0;margin: 0;padding: 0;border:0;}